<div class="wrapper">

    <div class="media">

        <img class="d-flex align-self-start mr-3 image .img-fluid" *ngIf='city_name === "Boston"' src="../../assets/images/boston.jpg">
        <img class="d-flex align-self-start mr-3 image .img-fluid" *ngIf='city_name === "New York"' src="../../assets/images/newyorkcity.jpg">
        <img class="d-flex align-self-start mr-3 image .img-fluid" *ngIf='city_name === "Philadelphia"' src="../../assets/images/philadelphia.jpg">
        <img class="d-flex align-self-start mr-3 image .img-fluid" *ngIf='city_name === "Miami"' src="../../assets/images/miami.jpg">
        <img class="d-flex align-self-start mr-3 image .img-fluid" *ngIf='city_name === "Washington, D. C."' src="../../assets/images/washingtondc.jpg">
        <img class="d-flex align-self-start mr-3 image .img-fluid" *ngIf='city_name === "Atlanta"' src="../../assets/images/atlanta.jpg">
        <img class="d-flex align-self-start mr-3 image .img-fluid" *ngIf='city_name === "Chicago"' src="../../assets/images/chicago.jpg">

        <div class="media-body spacing">
            <h2 class="mt-0">{{ city_specific_weather_data.name }}</h2>
            <h3><i>{{ city_specific_weather_data.weather[0].description }}</i></h3>
            <br>
            <p>Average: {{ city_specific_weather_data.main.temp | json }} C | <strong>{{ avg_in_f }}</strong> F</p>
            <p>High: {{ city_specific_weather_data.main.temp_max | json }} C | <strong>{{ high_in_f }}</strong> F</p>
            <p>Low: {{ city_specific_weather_data.main.temp_min | json }} C | <strong>{{ low_in_f }}</strong> F</p>
            <p>Humidity: <strong>{{ city_specific_weather_data.main.humidity | json }}%</strong></p>
        </div>

    </div>

</div>
