<div class="container">

    <div class="card border-info mb-3 left_align" style="max-width: 20rem;">

      <div class="card-header">Logout</div>

      <div class="card-body text-info text">

        <h4 class="card-title">See ya! <i class="fa fa-hand-peace-o" aria-hidden="true"></i></h4>

        <p class="card-text">Think about ways you can get items checked off sooner rather than later. Time moves <i>really</i> fast, and if you're not planning on getting things done then it maybe too late. <i class="fa fa-hourglass-end" aria-hidden="true"></i></p>

        <p>Keep logging back in to remind yourself of what you need to accomplish, and also to see how your friends are doing on their lists.</p>

      </div>

    </div>

</div>
