<div class="wrapper">

    <form (submit)='updateItem($event)' #formData='ngForm'>

        <h2>Update item details</h2>

        <p>Title</p>

        <input placeholder="{{ item.title }}" type="text" name="title" size="50" required minlength="5" [(ngModel)]="bucketList.title" #title='ngModel'>

        <p>Description</p>

        <input placeholder="{{ item.description }}" type="text" name="description" size="50" required minlength="10" [(ngModel)]="bucketList.description" #title='ngModel'>

        <div *ngIf='item_updated'>

            <p><i>Last Updated</i></p>
            <p>{{ item.updatedAt |  date:'medium' }}</p>

        </div>

        <br *ngIf='!item_updated'>

        <button type="submit" name="submit" value="submit" [disabled]="!formData.valid">Update</button>

    </form>

</div>
