.container {
    /*margin-left: auto;
    margin-right: auto;
    width: 600px;
    border: 1px solid #009933;*/
    background-color: #F4F5F6;
}
input.ng-valid {
    color: #5CB85C;
}
input.ng-invalid {
    color: #F0AD4E;
}
input.ng-pristine {
    color: black;
}
/*.message {
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    text-align: center;
}*/
button {
    /*margin-top: 20px;*/
    margin-bottom: 20px;
}
.message {
    text-align: left;
}
h2 {
    padding: 20px;
}
#update_time {
    font-size: 140%;
    font-style: italic;
    text-align: left;
}
