<div class="wrapper">

    <h3><i>{{ user?.username }} you are logged in</i></h3>

    <h2>{{ friend.data[0].username }}'s items</h2>

    <div *ngIf='itemsPending'>

        <h3>Items pending</h3>

        <table>

            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Added</th>
                <th>Updated</th>
            </tr>
            <tr *ngFor="let item of friendItemsPending">
                <td>{{ item.title | json }}</td>
                <td>{{ item.description | json }}</td>
                <td>{{ item.createdAt | date:'medium' }}</td>
                <td>{{ item.updatedAt | date:'medium' }}</td>
            </tr>

        </table>

        <p>{{friendItemsPending | json}}</p>

    </div>

    <div *ngIf='itemsDone'>

        <h3>Items done</h3>

        <table>

            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Added</th>
                <th>Updated</th>
            </tr>
            <tr *ngFor="let item of friendItemsDone">
                <td>{{ item.title | json }}</td>
                <td>{{ item.description | json }}</td>
                <td>{{ item.createdAt | date:'medium' }}</td>
                <td>{{ item.updatedAt | date:'medium' }}</td>
            </tr>

        </table>

        <p>{{friendItemsDone | json}}</p>

    </div>

    <button type="button" name="button" (click)="checkArrayLength()"></button>

    <button type="button" name="dashboard" (click)='dashboard()'>Return to dashboard</button>

</div>
