<div class="container">

    <h3 id="user"><i>{{ user?.username }}</i></h3>

    <h2 *ngIf='itemsPending === true || itemsDone === true'>{{ friend.data[0].username }}'s items</h2>

    <h2 *ngIf='itemsPending === false && itemsDone === false'>{{ friend.data[0].username }} has no items</h2>

    <div *ngIf='friendItemsPending.length > 0'>

        <h3 id="yellow">Pending</h3>

        <table class="table table-hover table-responsive">

        <thead>
            <tr>
                <th>title</th>
                <th>description</th>
                <th class='fixed'>added</th>
                <th class='fixed'>updated</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of friendItemsPending">
                <td class='left_align'>{{ item.title | json }}</td>
                <td class='left_align'>{{ item.description | json }}</td>
                <td class='left_align fixed'>{{ item.createdAt | date:'d MMM y, h:mm a' }}</td>
                <td class='left_align fixed'>{{ item.updatedAt | date:'d MMM y, h:mm a' }}</td>
            </tr>
        </tbody>

        </table>

    </div>

    <div *ngIf='friendItemsDone.length > 0'>

        <h3>Done</h3>

        <table class="table table-hover table-responsive table-inverse">

        <thead>
            <tr>
                <th>title</th>
                <th>description</th>
                <th class='fixed'>added</th>
                <th class='fixed'>updated</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of friendItemsDone">
                <td class='left_align'>{{ item.title | json }}</td>
                <td class='left_align'>{{ item.description | json }}</td>
                <td class='left_align fixed'>{{ item.createdAt | date:'d MMM y, h:mm a' }}</td>
                <td class='left_align fixed'>{{ item.updatedAt | date:'d MMM y, h:mm a' }}</td>
            </tr>
        </tbody>

        </table>

    </div>

    <button type="button" class="btn btn-primary" name="dashboard" (click)='dashboard()'>Return to dashboard</button>

</div>
