.container {
    padding-top: 22.5px;
    /*margin-left: auto;
    margin-right: auto;*/
    /*width: 800px;*/
}
input.ng-valid {
    color: #5CB85C;
}
input.ng-invalid {
    color: #F0AD4E;
}
input.ng-pristine {
    color: black;
}
.message {
    /*margin-left: auto;
    margin-right: auto;
    width: 360px;*/
    text-align: left;
}
button {
    margin-top: 20px;
    margin-bottom: 20px;
}
label {
    text-align: left;
}
