<div class="container">

    <form (submit)='register()' #formData='ngForm'>

        <div class="form-group row justify-content-center" [ngClass]="{'has-warning' : email.errors, 'has-success' : !email.errors}">
            <label class="col-2 col-form-label">Email</label>
            <div class="col-6">
                <input class="form-control" type="text" name="email" size="35" required pattern='^[a-zA-Z0-9.+_-]+@[a-zA-Z0-9._-]+\.[a-zA-Z]+$' [(ngModel)]="user.email" #email='ngModel' [ngClass]="{'form-control-warning' : email.errors, 'form-control-success' : !email.errors}">
                <small class="form-text text-muted message" [hidden]='!email.errors'>we'll never share your email with anyone</small>
            </div>
        </div>

        <div class="form-group row justify-content-center" [ngClass]="{'has-warning' : password.errors, 'has-success' : !password.errors}">
            <label class="col-2 col-form-label">Password</label>
            <div class="col-6">
                <input class="form-control" type="password" name="password" size="35" required pattern='^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,15}$' [(ngModel)]="user.password" #password='ngModel' validateEqual='confirmpassword' reverse='true' [ngClass]="{'form-control-warning' : password.errors, 'form-control-success' : !password.errors}">
                <small class="form-text text-muted message" [hidden]='!password.errors'>between 8 and 15 characters, at least one uppercase and one lowercase letter, and one number</small>
            </div>
        </div>

        <div class="form-group row justify-content-center" [ngClass]="{'has-warning' : confirmpassword.errors, 'has-success' : !confirmpassword.errors}">
            <label class="col-2 col-form-label">Confirm Password</label>
            <div class="col-6">
                <input class="form-control" type="password" name="confirmpassword" size="35" required [(ngModel)]="user.confirmpassword" #confirmpassword='ngModel' validateEqual='password' [ngClass]="{'form-control-warning' : confirmpassword.errors, 'form-control-success' : !confirmpassword.errors}">
                <small class="form-text text-muted message" [hidden]='!confirmpassword.errors'>should match what's above</small>
            </div>
        </div>

        <div class="form-group row justify-content-center" [ngClass]="{'has-warning' : username.errors, 'has-success' : !username.errors}">
            <label class="col-2 col-form-label">Username</label>
            <div class="col-6">
                <input class="form-control" type="text" name="username" size="35" required pattern='^[a-zA-Z]{8,}$' [(ngModel)]="user.username" #username='ngModel' [ngClass]="{'form-control-warning' : username.errors, 'form-control-success' : !username.errors}">
                <small class="form-text text-muted message" [hidden]='!username.errors'>at least 8 letters, and no numbers</small>
            </div>
        </div>

        <div class="form-group row justify-content-center" [ngClass]="{'has-warning' : date_of_birth.errors, 'has-success' : !date_of_birth.errors}">
            <label class="col-2 col-form-label">Date of Birth</label>
            <div class="col-6">
                <input class="form-control" type="date" name="date_of_birth" required [(ngModel)]="user.date_of_birth" #date_of_birth='ngModel' id="date_of_birth" [ngClass]="{'form-control-warning' : date_of_birth.errors, 'form-control-success' : !date_of_birth.errors}">
                <small class="form-text text-muted message" [hidden]='!date_of_birth.errors'>must be over 21</small>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" name="submit" value="submit" [disabled]="!formData.valid">Register</button>

    </form>

</div>
