<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">

  <h1>{{title}}</h1>

  <form (submit)="getRefayatGitHubInfo(username)" #formData='ngForm'>
      <h3 [ngStyle]="{'color':'black'}">Please enter your GitHub Username below</h3>
      <input type="text" name="username" required [(ngModel)]="username" #username.controller="ngModel" minlength="5" maxlength="25">
      <br>
      <button *ngIf="formData.valid" type="submit" name="submit">Calculate my GitHub Score</button>
  </form>

  <p *ngIf='GitHubInfo'><strong><em>***Your entire GitHub information JSON:</em></strong> {{ GitHubInfo | json }}</p>

  <h3 *ngIf='followers'>Followers : {{ followers }}</h3>
  <h3 *ngIf='public_repos'>Public Repos : {{ public_repos }}</h3>
  <h3 *ngIf='score'>Score : {{ score }}</h3>
  <h2 [ngStyle]="{'color':'red'}" *ngIf='score < 20 && score >= 0'>Needs Work!</h2>
  <h2 [ngStyle]="{'color':'orange'}" *ngIf='score < 50 && score >= 20'>A decent start!</h2>
  <h2 [ngStyle]="{'color':'purple'}" *ngIf='score < 100 && score >= 50'>Doing good!</h2>
  <h2 [ngStyle]="{'color':'green'}" *ngIf='score < 200 && score >= 100'>Great job!</h2>
  <h2 [ngStyle]="{'color':'blue'}" *ngIf='score >= 200'>Github Elite!</h2>
  
</div>
