<div class="wrapper">
    <h3><i>{{ user?.username }} you are logged in</i></h3>

    <h2>Add your bucket list item</h2>

    <form (submit)='addItem()' #formData='ngForm'>

        <p>Title</p>
        <input type="text" name="title" size="50" required minlength="5" [(ngModel)]="bucketList.title" #title='ngModel'>

        <p>Description</p>
        <input type="text" name="description" size="50" required minlength="10" [(ngModel)]="bucketList.description" #title='ngModel'>

        <p>Friend to add</p>
        <select name="friend" [(ngModel)]="bucketList.friend" #friend='ngModel'>
            <option value=""></option>
            <option *ngFor='let friend of allUsers' value="{{ friend?._id }}">{{ friend.username }}</option>
        </select>

        <br>
        <button type="submit" name="submit" value="submit" [disabled]="!formData.valid">Add to list</button>

    </form>

    <h3>Your items</h3>

    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Added</th>
            <th>Done?</th>
        </tr>
        <tr *ngFor="let item of userItems[0].items">
            <td>{{ item.title | json }}</td>
            <td>{{ item.description | json }}</td>
            <td>{{ item.createdAt | date:'medium' }}</td>
            <td>{{ item.status | json }}</td>
        </tr>
    </table>

        <button type="button" name="logout" (click)='logout()'>Logout</button>

</div>
