<div class="jumbotron jumbotron-fluid">

  <div class="container">

    <h1 class="display-3">{{title}}</h1>

    <p class="lead">Life is short, and unfortunately we often don't have enough time to do the things our hearts desire. But we can change that, so let's change that. Let's itemize what we want to do. And to improve the likelihood of these things coming into fruition let's include our friends. This way they'll do something they would've otherwise never done, and <i>most importantly</i>, having a friend tied to the items will make us more accountable, effectively increasing our propensity to fulfill these self-promises. Get started and live <strong>fulfilling</strong> lives.</p>

  </div>

</div>

<div class="centered">

    <app-logreg *ngIf='!user_state'></app-logreg>

    <router-outlet></router-outlet>

</div>
