<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="https://github.com/refayathaque/Portfolio/tree/master/JavaScriptAngular2/Bucket_List_IN_PROGRESS" target="_blank">BL</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" aria-expanded="false" style="">

    <div class="navbar-nav">

            <a class="nav-item nav-link" *ngIf='!user_state' [routerLink]="['login']">Login</a>
            <a class="nav-item nav-link" *ngIf='!user_state' [routerLink]="['register']">Register</a>
            <a class="nav-item nav-link" *ngIf='user_state' [routerLink]="['/dashboard']">Dashboard</a>
            <a class="nav-item nav-link active" *ngIf='user_state'><i>{{ user.username }} you are still logged in</i></a>

    </div>

    </div>

</nav>
