<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand">BL</a>

    <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav">

        <li class="nav-item">
            <a class="nav-link" *ngIf='!user_state' [routerLink]="['login']">Login</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" *ngIf='!user_state' [routerLink]="['register']">Register</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="https://github.com/refayathaque/Portfolio/tree/master/JavaScriptAngular2/Bucket_List_IN_PROGRESS" target="_blank">Source Code</a>
        </li>

        <li class="nav-item" *ngIf='user_state'>
            <span><p class="nav-item active"><i>You are still logged in {{ user.username }}, return to </i></p><a class="nav-link" [routerLink]="['/dashboard']">dashboard</a></span>
        </li>

    </ul>

    </div>

</nav>
