<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a href="https://github.com/refayathaque/Portfolio/tree/master/JavaScriptAngular2/Bucket_List_IN_PROGRESS" class="navbar-brand" target="_blank">BL</a>

    <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav">

        <li class="nav-item">
            <a class="nav-link" *ngIf='!user_state' [routerLink]="['login']">Login</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" *ngIf='!user_state' [routerLink]="['register']">Register</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" *ngIf='user_state' [routerLink]="['/dashboard']">Dashboard</a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" *ngIf='user_state'><i>{{ user.username }} you are still logged in</i></a>
        </li>

    </ul>

    </div>

</nav>
